

.box {
  border: 2px solid black;
  height: 80px;
  width: 80px;

}

.counter {
  display: flex;
  gap: 10px;
  align-items: center;
  
}


.race {
  font-size: 100px;
  margin-top: 5px; 
  margin-bottom: 5px; 

}

.stopwatch {
  display: flex;
  flex-direction: column;
  gap: 10px;  
}

.timer {
  color: green;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
}
  
.timer {
  color: green;
  font-size: 20px;
  font-weight: 600;
}
  

  
.start, .stop, .clear {
  height: 25px;
  border: 1px solid black;
  border-radius: 6%;
  margin-right: 5px;
}